# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/

# =========================
# FastAPI / Python
# =========================
*.log

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
