DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=fastapiadmin
DB_USER=root
DB_PASSWORD=Admin123@#

JWT_SECRET_KEY=change-this-to-a-long-random-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7